#wall {
   height: 75vh;
   padding-bottom: 50px; 
   overflow-y: auto;
}
#announceDiv {
    margin-top:1px;
    padding-top:10px;
    height: 150px;
    max-height: 25vh;
    margin-left: 30px;
    margin-right: 30px;
    
}

#announceDivWrapper{
    background-color: #e5e5e5;
    position:absolute;
   bottom:0;
   width:100%;
}

.card {
    margin: 0 auto;
}
.announcementHeader {
    margin: 15px;
    text-align: center;
}
.announcementTitle {
    text-align: center;
}
.announcementDesc {
    margin: 30px;
}

.assemblyPoint {
    margin-left: 45px;
    margin-right: 40px;
    font-style: italic;
}

.assemblyRecord {
    border: 1px solid #e5e5e5;
    border-radius: 15px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: #fcfcfc;

}

.form-control{
    -webkit-border-radius: 20px;
       -moz-border-radius: 20px;
            border-radius: 10px;
  }

.announcementAuthor {
    margin-top:0;
    padding:0;
}

#announceButton{
    margin-right: 30px; 
}

