

.modal-dialog {
    margin-bottom:0;
    cursor: pointer;
}

.modal-dialog:hover { 
    opacity: 0.7;
    color: darkcyan;
}

#newAbodeIcon {
    font-size: 1.8em;
    margin:0;
    padding-top: 16px;
}