<div class="sidebar sidebar-user" data-color="" data-image="">
  <app-sidebar></app-sidebar>
</div>

<div class="main-panel">
  <app-navbar-cmp></app-navbar-cmp>

  <form role="form">
    <fieldset>
      <!--<div class="form-group">
        <input class="form-control" placeholder="Šifra" name="password" type="password" value=""
               [(ngModel)]="user.password">
      </div>-->
      <div class="form-group">
        <input class="form-control" placeholder="Ime" name="name" type="text" value="" [(ngModel)]="user.name">
      </div>
      <div class="form-group">
        <input class="form-control" placeholder="Prezime" name="last_name" type="text" value=""
               [(ngModel)]="user.last_name">
      </div>
      <div class="form-group">
        <input class="form-control" required placeholder="Email" name="email" type="email" value=""
               [(ngModel)]="user.email">
      </div>
      <input type="submit" class="btn btn-info fill pull-right" value="Ažuriraj" (click)="updateProfile()">
      <br><br><br>
    </fieldset>
  </form>
</div>
