<div class="sidebar sidebar-tenant" data-color="" data-image="">
  <app-sidebar></app-sidebar>
</div>

<div class="main-panel">
  <app-navbar-cmp></app-navbar-cmp>

  <div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="header">
              <h4 class="title">Ankete</h4>
            </div>
            <div class="content table-responsive table-full-width">
              <table class="table table-hover table-striped">
                <thead>
                  <tr>
                    <th>Naziv</th>
                    <th>Opis</th>
                    <th>Datum kreiranja</th>
                    <th>Datum isteka</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of surveys">
                    <td>{{item.name_survey}} </td>
                    <td>{{item.description}}</td>
                    <td>{{item.create_survey}}</td>
                    <td>{{item.time_duration}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
