<div class="sidebar sidebar-tenant" data-color="" data-image="">
  <app-sidebar></app-sidebar>
</div>

<div class="main-panel">
  <app-navbar-cmp></app-navbar-cmp>

  <div class="alert alert-success" *ngIf="messageDeleted">
    <span>Uspešno ste obirsali anketu.</span>
  </div>

  <br/><br/>
  <div class="form-container">
    <div class="row">
      <div class="col-md-12" style="text-align: right;">
        <button type="button" class="btn btn-primary" (click)="openCreateDialog()">Nova anketa</button>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-bordred table-striped">
            <thead>
            <th style="text-align: center;">Naziv</th>
            <th style="text-align: center;">Opis</th>
            <th style="text-align: center;">Datum kreiranja</th>
            <th style="text-align: center;">Datum isteka</th>
            <th style="text-align: center;">Popunite</th>
            <th style="text-align: center;">Izveštaj</th>
            <th style="text-align: center;">Obriši</th>
            </thead>
            <tbody>
            <tr *ngFor="let item of RESULTS">
              <td>{{item.survey.name}}</td>
              <td>{{item.survey.description}}</td>
              <td>{{item.survey.dateCreated}}</td>
              <td>{{item.survey.dateExpires}}</td>
              <td>
                <p data-placement="top" data-toggle="tooltip" title="Popunite anketu">
                  <button class="btn btn-primary btn-xs" (click)="openFillDialog(item.survey)">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </button>
                </p>
              </td>
              <td>
                <p data-placement="top" data-toggle="tooltip" title="Izveštaj">
                  <button class="btn btn-info btn-xs" [disabled]="this.tenant.userId !== item.survey.creator"
                          (click)="openReportDialog(item.survey)">
                    <span class="glyphicon glyphicon-print"></span>
                  </button>
                </p>
              </td>
              <td>
                <p data-placement="top" data-toggle="tooltip" title="Obriši">
                  <button class="btn btn-danger btn-xs"
                          [disabled]="this.tenant.userId !== item.survey.creator || !this.tenant.supervisor"
                          (click)="confirm(item.survey)">
                    <span class="glyphicon glyphicon-trash"></span>
                  </button>
                </p>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- <p-dialog appendTo="body" [(visible)]="reportDialog" header="Trenutni izveštaj ankete" modal="modal" [responsive]="true">
    <div class="container">
      <div style="padding-left: 10%; padding-right: 10%;">
        <div class="row" *ngFor="let res of RESPONSE;">
          <div class="col-md-12" style="text-align: center; width: 100%;">
            <br />
            <p>
              {{res.question.question}}
            </p>
            <br />
            <p-chart *ngIf="res.chartType !== 'text'" type="{{res.chartType}}" [data]="res.data" width="40" height="7"></p-chart>
          </div>
        </div>
        <br /> <br />
      </div>
      <br />
    </div>
    <p-footer>
      <div class="modal-footer row">
        <div class="col-md-6" style="text-align: left;">
        </div>
        <div class="col-md-6" style="text-align: right;">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="hideReportDialog()">Zatvori</button>
        </div>
      </div>
    </p-footer>
  </p-dialog> -->

  <p-dialog appendTo="body" header="Kreiranje ankete" [(visible)]="createSurveyDialog" modal="modal" width="800"
            [responsive]="true">
    <form role="form" ngNativeValidate>
      <div class="padding-left: 10%; padding-right: 10%;">
        <fieldset>
          <div class="form-group">
            <input type="text" name="name" class="form-control" placeholder="Naziv ankete"/>
          </div>
          <div class="form-group">
            <textarea type="text" name="description" class="form-control" placeholder="Opis"></textarea>
          </div>
          <div class="form-group">
            <input type="date" name="dateExpires" class="form-control" placeholder="Datum isteka"/>
          </div>
          <div class="form-group row" *ngFor="let q of newSurvey.questionDTO">
            <div class="col-md-12">
              <p>
                <input type="text" value="{{q.question}}" class="form-control" disabled/>
              </p>
            </div>
          </div>
          <div class="form-group">
            <input type="text" name="questionName" [(ngModel)]="newQuestion.question" class="form-control"
                   placeholder="Pitanje"/>
          </div>
          <div class="form-group row">
            <div class="col-md-11">
              <select class="selectpicker form-control" [(ngModel)]="newQuestion.typeQuestion" name="select" value="Tip odgovora">
                <option value="GRADE">Ocene</option>
                <option value="BOOL">Da/Ne</option>
                <option value="TEXT">Tekstualni odgovor</option>
              </select>
            </div>
            <div class="col-lg-1">
              <button class="btn btn-primary" (click)="addQuestion()">
                <span>+</span>
              </button>
            </div>
          </div>
        </fieldset>
      </div>
    </form>
  </p-dialog>

  <p-dialog appendTo="body" header="Popunite anketu" [(visible)]="fillDialog" modal="modal" width="800"
            [responsive]="true">
    <form role="form" ngNativeValidate (ngSubmit)="submit()">
      <div style="padding-left: 10%; padding-right: 10%;">
        <fieldset>
          <div class="form-group" *ngFor="let item of userResponse.answers">
            <div class="row" *ngIf="item.question.typeQuestion === 'BOOL'">
              <div class="col-md-6">
                <label>{{item.question.question}}</label> &nbsp;&nbsp;
              </div>
              <div class="col-md-6">
                <input type="checkbox" name="checkbox" class="form-control" [(ngModel)]="item.answer"/>
              </div>
            </div>
            <div class="row" *ngIf="item.question.typeQuestion === 'TEXT'">
              <div class="col-md-6">
                <label>{{item.question.question}}</label> &nbsp;&nbsp;
              </div>
              <div class="col-md-6">
                <input type="text" name="text" class="form-control" [(ngModel)]="item.answer"/>
              </div>
            </div>
            <div class="row" *ngIf="item.question.typeQuestion === 'GRADE'">
              <div class="col-md-6">
                <label>{{item.question.question}}</label> &nbsp;&nbsp;
              </div>
              <div class="col-md-6">
                <select class="selectpicker form-control" name="select" [(ngModel)]="item.answer">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
            </div>
            <br/>
          </div>
        </fieldset>
      </div>
      <p-footer>
        <div class="modal-footer row">
          <div class="col-md-6" style="text-align: left;">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="hideFillDialog()">Zatvori
            </button>
          </div>
          <div class="col-md-6" style="text-align: right;">
            <button type="submit" class="btn btn-primary">Pošalji</button>
          </div>
        </div>
      </p-footer>
    </form>
  </p-dialog>

  <p-confirmDialog appendTo="body" [(visible)]="deleteDialog" icon="fa fa-question-circle" width="425">
    <p-footer>
      <div class="row">
        <div class="col-md-6" style="text-align: left;">
        </div>
        <div class="col-md-6" style="text-align: right;">
          <button type="submit" class="btn btn-danger" (click)="destroy()">Obriši</button>
        </div>
      </div>
    </p-footer>
  </p-confirmDialog>
</div>
