<div *ngIf="isLogin() === 'ADMIN'">
  <div class="wrapper">
    <div class="sidebar" data-color="black" data-image="">
      <app-sidebar></app-sidebar>
    </div>

    <div class="main-panel">
      <navbar-cmp></navbar-cmp>
      <router-outlet></router-outlet> <!--Ugradjena funkacija koja poziva sve sto vidimo -->
    </div>
  </div>
</div>


<div *ngIf="isLogin() === 'TENANT'">
  <p>ovde ide sve vezano za supervizora i tenanta kao sto je </p>
  <p>header i slicno a ostale rute se pozivaju preko router-outlet</p>  
  <router-outlet></router-outlet>
</div>


<div *ngIf="isLogin() === ''">
  <router-outlet></router-outlet>
</div>