
<div class="sidebar-wrapper">
    <div class="logo">
        <a role="button" class="simple-text" (click)="onRole()">
            <div class="logo-img">
                <img src="/assets/img/angular2-logo-white.png"/>
            </div>
            Uloga: {{title}}
        </a>

        <div class="w3-sidebar w3-bar-block w3-border-right" style="display:none" id="myRole">
            <ul class="nav responsive-nav">
                <span *ngFor="let menuItem of menuRoles">
                    <li >

                        <a role="button" *ngIf="menuItem.role !== ''" (click)="onShow(menuItem.role,menuItem.button)">
                            {{menuItem.role}} 
                        </a>


                    </li>
                    <div *ngFor="let menu of menuItem.idSupervisors">
                        <div style="display:none" id="mySupervisor">
                            <ul class="">
                                <li>
                                    <a role="button" (click)="onSupervisor(menu.supervisor)">
                                        Supervisor {{menu.supervisor}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div *ngFor="let menu of menuItem.idTenants">    
                        <div style="display:none" id="myTenant">
                            <ul class="">
                                <li>
                                    <a role="button" (click)="onTenant(menu.tenant)">
                                        Tenat {{menu.tenant}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                </span>
                
            </ul>
            
        </div>

    </div>

    
    <!-- Lista svih funkcija za admina kada je on prijavljen -->
    <ul class="nav responsive-nav">
        <li class="separator hidden-lg hidden-md" *ngIf="isMobileMenu()"></li>
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}}">
            <a  [routerLink]="[menuItem.path]">
                <i class="{{menuItem.icon}}"></i>
                <p> {{menuItem.title}} {{menuItem.class}}</p>
            </a>
        </li>
        <li class="active-pro">
            <a role="button" (click)="onLogout()">
                <i class="pe-7s-left-arrow"></i>
                <p> Odjavi se </p>
            </a>
        </li>
        
    </ul>


</div>
