#bg { 
    height: 100%;
    width: 100%;
    background-color: #f6f6f6;
}
#notFound {
    max-height: 40%;
    max-width: 40%;
    display:block;
    margin: auto;
}

#notFound img { 
    margin-top: 10%;
}

a { 
    color: grey;
}

a:hover { 
    color : cadetblue;
}

