<div class="container" style="margin-top:30px">
	<br>
	<div class="col-md-12" >
		<div class="modal-dialog" style="margin-bottom:0">
			<div class="modal-content">

				<div class="alert alert-danger" *ngIf="!message">
				    <span><b> Greška - </b>Molimo vas proverite korisničko ime i šifru</span>
				</div>

				<div class="panel-heading">
					<h3 class="panel-title">Prijava</h3>
				</div>
				<div class="panel-body" >
					<form role="form" ngNativeValidate (ngSubmit)="login()">
						<fieldset>
							<div class="form-group">
								<input class="form-control" required placeholder="Korisničko ime" name="username" type="text" autofocus="" [(ngModel)]="user.username">
							</div>
							<div class="form-group">
								<input class="form-control" required placeholder="Šifra" name="password" type="password" value="" [(ngModel)]="user.password">
							</div>
							<!-- Change this to a button or input when using this as a form -->
							<input type="submit" class="btn btn-info fill pull-right" value="Prijavite se"> <br><br><br>
							 <p>Nemate nalog? Napravite jedan <a [routerLink]="['/registration']">ovde</a>.</p>
						</fieldset>
					</form>
				</div>


			</div>
		</div>
	</div>

</div>
