.card {
    margin: 0 auto;
}

.card-body {
    text-align: center;
    margin-top: 30px;
}
.announcementHeader {
    margin: 15px;
    text-align: center;
}
.announcementTitle {
    text-align: center;
}

.announceButton{
    margin: 70px; 
    text-align: center;
    
}